 
/* start css.sty */
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.cmtt-12{font-family: monospace,monospace;}
.zptmcm7t-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-90{font-size:75%; font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-90{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-90{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-70{font-size:58%; font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-70{ font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-70{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-90{font-size:75%; font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-90{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-90{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-90{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-70{font-size:58%; font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-70{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-70{ font-weight: bold; font-style: italic;}
.zptmcm7m-x-x-70{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-90{font-size:75%; font-weight: bold; font-style: italic;}
.zptmcm7y-x-x-90{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-120{ font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-90{font-size:75%; font-weight: bold; font-style: italic;}
.zptmcm7v-x-x-90{ font-weight: bold; font-style: italic;}
.ptmb7t-x-x-120{ font-weight: bold;}
.ptmri7t-x-x-120{font-style: italic;}
.ptmr7t-x-x-109{font-size:90%;font-family: monospace,monospace;}
.ptmr7t-x-x-109{font-family: monospace,monospace;}
.ptmr7t-x-x-109{font-family: monospace,monospace;}
.ptmr7t-{font-size:83%;font-family: monospace,monospace;}
.ptmr7t-{font-family: monospace,monospace;}
.ptmr7t-{font-family: monospace,monospace;}
.zptmcm7m-{font-size:83%; font-weight: bold; font-style: italic;}
.zptmcm7m-{ font-weight: bold; font-style: italic;}
.zptmcm7m-{ font-weight: bold; font-style: italic;}
.zptmcm7m-{ font-weight: bold; font-style: italic;}
.ptmri8c-x-x-120{font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
.subsectionToc, .likesubsectionToc {margin-left:1em;}
.subsubsectionToc, .likesubsubsectionToc {margin-left:2em;}
.paragraphToc, .likeparagraphToc {margin-left:3em;}
.subparagraphToc, .likesubparagraphToc {margin-left:4em;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
img[src="main0x.png"]{vertical-align:-2.467310420418963%}
img[src="main1x.png"]{vertical-align:-1.571356376500187%}
img[src="main2x.png"]{vertical-align:-2.467310420418963%}
img[src="main3x.png"]{vertical-align:-2.426454075903885%}
img[src="main4x.png"]{vertical-align:-1.985861876460277%}
img[src="main5x.png"]{vertical-align:-1.571356376500187%}
tr#TBL-2-1- {border-top:0.13159em solid #000;} 
img[src="main6x.png"]{vertical-align:-0%}
tr#TBL-2-1- {border-bottom:0.08224em solid #000}
img[src="main7x.png"]{vertical-align:-28.47546426504482%}
img[src="main8x.png"]{vertical-align:-28.47546426504482%}
img[src="main9x.png"]{vertical-align:-28.47546426504482%}
img[src="main10x.png"]{vertical-align:-28.47546426504482%}
img[src="main11x.png"]{vertical-align:-28.47546426504482%}
img[src="main12x.png"]{vertical-align:-28.47546426504482%}
tr#TBL-2-7- {border-bottom:0.13159em solid #000}
img[src="main32x.png"]{vertical-align:-2.467310420418963%}
img[src="main33x.png"]{vertical-align:-31.94940671788928%}
img[src="main34x.png"]{vertical-align:-1.354914150106431%}
img[src="main35x.png"]{vertical-align:-19.37536490242023%}
img[src="main36x.png"]{vertical-align:-3.239531889823913%}
img[src="main40x.png"]{vertical-align:-23.79253739074828%}
img[src="main41x.png"]{vertical-align:-23.79253739074828%}
img[src="main42x.png"]{vertical-align:-24.28157566719978%}
img[src="main43x.png"]{vertical-align:-31.36247877758913%}
img[src="main44x.png"]{vertical-align:-23.76974970967545%}
img[src="main45x.png"]{vertical-align:-22.47930547738115%}
img[src="main46x.png"]{vertical-align:-20.04871744664187%}
img[src="main47x.png"]{vertical-align:-2.263227704894278%}
img[src="main48x.png"]{vertical-align:-25.20166278060704%}
img[src="main49x.png"]{vertical-align:-19.60301558197708%}
img[src="main50x.png"]{vertical-align:-23.76974970967545%}
img[src="main51x.png"]{vertical-align:-1.985861876460277%}
img[src="main52x.png"]{vertical-align:-23.2470888047287%}
img[src="main53x.png"]{vertical-align:-1.985861876460277%}
img[src="main56x.png"]{vertical-align:-22.25506022396556%}
img[src="main57x.png"]{vertical-align:-3.328301773998296%}
img[src="main58x.png"]{vertical-align:-23.2470888047287%}
img[src="main60x.png"]{vertical-align:-2.40836601684162%}
img[src="main61x.png"]{vertical-align:-25.67504650405366%}
img[src="main62x.png"]{vertical-align:-0%}
img[src="main63x.png"]{vertical-align:-0%}
img[src="main64x.png"]{vertical-align:-22.81397647122531%}
img[src="main65x.png"]{vertical-align:-18.55328304593182%}
img[src="main66x.png"]{vertical-align:-27.24944270923155%}
img[src="main67x.png"]{vertical-align:-22.81397647122531%}
img[src="main68x.png"]{vertical-align:-18.55328304593182%}
img[src="main70x.png"]{vertical-align:-29.76695162457121%}
img[src="main71x.png"]{vertical-align:-22.81397647122531%}
img[src="main73x.png"]{vertical-align:-2.466059840985095%}
img[src="main74x.png"]{vertical-align:-1.571356376500187%}
img[src="main75x.png"]{vertical-align:-0%}
img[src="main76x.png"]{vertical-align:-31.36247877758913%}
img[src="main85x.png"]{vertical-align:-3.328301773998296%}
img[src="main88x.png"]{vertical-align:-3.328301773998296%}
img[src="main91x.png"]{vertical-align:-0%}
img[src="main92x.png"]{vertical-align:-11.3384636764757%}
img[src="main93x.png"]{vertical-align:-0%}
img[src="main94x.png"]{vertical-align:-2.551212312721121%}
img[src="main95x.png"]{vertical-align:-0%}
img[src="main96x.png"]{vertical-align:-20.78203479449128%}
img[src="main97x.png"]{vertical-align:-20.78203479449128%}
img[src="main98x.png"]{vertical-align:-19.11836759082218%}
img[src="main99x.png"]{vertical-align:-2.466059840985095%}
img[src="main100x.png"]{vertical-align:-0%}
img[src="main101x.png"]{vertical-align:-2.426454075903885%}
img[src="main102x.png"]{vertical-align:-31.94940671788928%}
img[src="main103x.png"]{vertical-align:-1.616416992200283%}
img[src="main106x.png"]{vertical-align:-25.92048627268496%}
img[src="main107x.png"]{vertical-align:-2.426454075903885%}
img[src="main108x.png"]{vertical-align:-19.49638972671602%}
img[src="main111x.png"]{vertical-align:-41.38304296212938%}
img[src="main112x.png"]{vertical-align:-26.69711505457542%}
img[src="main113x.png"]{vertical-align:-30.8213096133969%}
img[src="main115x.png"]{vertical-align:-3.763318209086378%}
img[src="main116x.png"]{vertical-align:-19.48469522907677%}
img[src="main117x.png"]{vertical-align:-0%}
img[src="main118x.png"]{vertical-align:-2.467310420418963%}
img[src="main119x.png"]{vertical-align:-3.763318209086378%}
img[src="main120x.png"]{vertical-align:-25.5989407279695%}
img[src="main121x.png"]{vertical-align:-0%}
img[src="main122x.png"]{vertical-align:-3.763318209086378%}
img[src="main123x.png"]{vertical-align:-25%}
img[src="main124x.png"]{vertical-align:-27.24944270923155%}
img[src="main125x.png"]{vertical-align:-2.467310420418963%}
img[src="main126x.png"]{vertical-align:-3.763318209086378%}
img[src="main127x.png"]{vertical-align:-25.12517533047138%}
img[src="main128x.png"]{vertical-align:-2.010088811504388%}
img[src="main129x.png"]{vertical-align:-2.051318385048235%}
img[src="main130x.png"]{vertical-align:-25.14497864865497%}
/* end css.sty */

